.infoCard {
  background: var(--dark-primary);
  color: var(--white-color);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  gap: 20px;
  text-align: left;
  transition: background 0.3s ease;

  &:hover {
    background: var(--dark-hover);
  }

  svg {
    height: 35px;
    width: 35px;
  }

  h3 {
    font-weight: 500;
  }

  .infoIcon {
    display: flex;
    justify-content: center;
  }

  .infoTitle {
    display: flex;
    justify-content: center;
  }
}
