/* Footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footerPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.footerSecundario {
    border-top: 1px solid #444444;
    padding-top: 10px;
    font-size: 14px;
}