/* Header principal */
.header {
  display: flex;
  background-color: var(--black-color);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: var(--white-color);
  }
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  width: 100%;
}

/* Contenedor de búsqueda */
.busquedaContainer {
  display: flex;
  align-items: center;
}

/* Contenedor del logo */
.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    height: 125px;
    width: auto;
  }
}

/* Contenedor de admin/usuario */
.adminContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.navbar {
  border-top: 1px solid var(--border-color);
  width: 100%;
}

/* Contenedor de navegación */
.navContainer {
  border-top: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  align-items: center;

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    li {
      align-items: center;

      a {
        color: var(--white-color);
      }
      span {
        color: var(--border-color);
      }
    }
  }
}
