/* Header principal */
.header {
  display: flex;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  width: 100%;
}


/* Contenedor de búsqueda */
.busquedaContainer {
  display: flex;
  align-items: center;

  img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    filter: invert(1);
  }
}

/* Contenedor del logo */
.logoContainer {
  display: flex;
  align-items: center;

  img {
    height: 125px;
    width: auto;
  }
}

/* Contenedor de admin/usuario */
.adminContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;

  img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    filter: invert(1);
  }
}


.navbar {
  width: 100%;
}

/* Contenedor de navegación */
.navContainer {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  align-items: center;

  ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    li *{
      align-items: center;
      color: white;
    }
  }
}
