.productSection {
  width: 100%;
  max-width: 1400px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 20px;
}

.sectionTitle {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: var(--black-color);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}


@media (max-width: 700px) {
  .productSection {
    padding: 15px 10px;
    margin: 30px auto;
  }

  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .cardGrid {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .productSection {
    padding: 10px 5px;
    margin: 20px auto;
  }

  .sectionTitle {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .cardGrid {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
