/* Contenedor grande */
.productSection {
  width: 100%;
  background-color: rgb(247, 193, 193);
  max-width: 1400px; /* más grande que antes */
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 20px;
}

/* Título */
.sectionTitle {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

/* GRID mejorado (responsivo automáticamente) */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 25px;
}

/* Card */
.card {
  background: white; /* 0.6 = 60% de opacidad */
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  transition: transform 0.3s;
}

/* Hover */
.card:hover {
  transform: translateY(-8px);
}

/* Imagen */
.card img {
  width: 100%;
  height: 100%; /* más grande */
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

/* Título */
.card h3 {
  margin: 12px 0 6px;
  font-size: 1.3rem;
}

/* Precio */
.price {
  color: #bbb;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}
