/* Contenedor grande */
.productSection {
  width: 100%;
  max-width: 1400px; /* más grande que antes */
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 20px;
}

/* Título */
.sectionTitle {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: var(--black-color);
}

/* GRID mejorado (responsivo automáticamente) */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}