.imagenes {
  display: flex;
  align-items: center;

  img{
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  gap: 10px;
}

.precio {
  font-weight: bold;
  width: 348px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;

  p {
    font-size: 18px;
  }

  h3 {
    font-family: "Archivo-SemiBold", sans-serif;
    font-weight: 100;
  }
}

.tallas {
  display: flex;
  gap: 12px;
  cursor: pointer;

  .tallaSeleccionada {
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    color: var(--black-color);
    border-radius: 50px;
  }

  p {
    font-size: 20px;
  }
}

.button {
  display: flex;
  width: 348px;

  button {
    color: var(--white-color);
    width: 340px;
    padding: 16px 0;
    background: var(--primary-color);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s;
    border: none;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;

    .button {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .precio {
    justify-content: center;
  }

  .tallas {
    align-items: center;
    justify-content: center;
    .tallaSeleccionada {
      height: 40px;
      width: 40px;
    }
  }
}
