main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajaContainer {
  width: 100%;
  height: 550px;
  margin: 5% auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
}