/* Contenedor grande */
.cajaContainer {
  width: 100%;
  max-width: 1400px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 20px;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: var(--black-color);
  }
}

.cajaGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
