main {
  background-color: var(--light-gray);
}

.principalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.contactoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  padding: 20px;

  h2 {
    font-size: 2.em;
    margin-bottom: 10%;
  }
}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 650px;
    border-radius: 8px;
  }
}

.formContainer {
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.contactoInput {
  width: 340px;
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: var(--gray-color);
  outline: none;
  margin-bottom: 20px;
  resize: none;
}

.contactoButton {
  color: var(--white-color);
  width: 340px;
  padding: 16px 0;
  background: var(--primary-color);
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  border: none;

  &:hover {
    background-color: var(--primary-hover);
  }
}
