.container {
  width: 100vh;
  min-width: 100%;
/*   margin: 0 auto;
 */  /* padding: 20px; */
  text-align: center;
  background-color: var(--light-red);
}

.title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: 600;
}
