.container {
  width: 100vh;
  min-width: 100%;
  text-align: center;
  background-color: var(--light-red);
}

.infoCardsContainer{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}
