.container {
  width: 100vh;
  min-width: 100%;
  text-align: center;
  background-color: var(--light-red);

  h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: var(--black-color);
  }
}

.infoCardsContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}

.cajaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1400px; /* más grande que antes */
  border-radius: 10px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;

  .cajaGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
}
