/* --- CONTENEDOR GENERAL --- */
.login-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-gray);
}

.login-container {
  width: 550px;
  height: auto;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  border: 2px solid var(--border-color);
}

/* --- LOGO --- */
.login-logo {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* --- TITULO --- */
.login-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* --- INPUTS --- */
.login-input {
  width: 340px;
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: var(--gray-color);
  outline: none;
  margin-bottom: 20px;
}

/* --- BOTON --- */
.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.login-button {
  width: 340px;
  padding: 16px 0;
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.login-button:hover {
  background: var(--primary-hover);
}

/* --- TEXTO INFERIOR --- */
.login-footer {
  margin-top: 40px;
  font-size: 15px;
}

.login-footer a {
  font-weight: 700;
  margin-left: 4px;
  cursor: pointer;
  text-decoration: none;
}


