/* --- CONTENEDOR GENERAL --- */
.loginMain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-red);
}

.loginContainer {
  width: 550px;
  height: auto;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  border-radius: 10px;

  img {
    height: 125px;
    width: auto;
    cursor: pointer;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

/* --- INPUTS --- */
.loginInput {
  width: 340px;
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: var(--gray-color);
  outline: none;
  margin-bottom: 20px;
}

/* --- BOTON --- */
.loginButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;

  svg {
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 8px 10px;
    border: 2px solid var(--gray-color);

    &:hover {
      transition: 0.2s;
      background-color: #f8f8f8;
    }
  }
}

.loginButton {
  width: 340px;
  padding: 16px 0;
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: var(--primary-hover);
  }
}

/* --- TEXTO INFERIOR --- */
.loginFooter {
  margin-top: 40px;

  a {
    color: var(--dark-primary);
    font-weight: 700;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
  }
}
