.tiendaContainer {
  width: 100%;
  max-width: 1400px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: var(--black-color);
  }
}

/* ===== GRID responsivo ===== */
.camisetasGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* ===== Responsividad ===== */
@media (max-width: 1200px) {
  .camisetasGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .camisetasGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .camisetasGrid {
    grid-template-columns: 1fr;
  }
}
