.keen-slider {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.keen-slider__slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top;
}

.slide1 {
  background-image: url("/img/carousel/img1.webp");
}

.slide2 {
  background-image: url("/img/carousel/img2.webp");
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .keen-slider {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  .keen-slider {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .keen-slider {
    height: 40vh;
  }
}
